@import "colors";
@import "Form";
@import "List";
@import "generic";

#app-wrapper {
  color: black;
  background-color: white;
  min-height: 85vh;
  margin: auto;
  font-size: 15px;
  width: calc(100vw - 1em);
  @media (min-width: 480px) {
    width: calc(480px - 1em);
  }
}
